.gradient-text {
    background: linear-gradient(90deg, #3b82f6, #8b5cf6, #ec4899);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#vanta-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.line {
    width: 65%;
    height: 1px;
    background: #fff;
    border: none;
    margin: 3rem auto;
}

.cta a {
    padding: 0.5rem 1.25rem;
}

.alert{
    padding: 10px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    border-radius: 1rem;
}